/* google fonts poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

/* universal selectors */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* navbar styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

ul {
    display: flex;
    gap: 30px;
}

ul > li {
    list-style: none;
}

ul > li > a {
    text-decoration: none;
    color: #909193;
    font-weight: 700;
}

.active {
    color: #111729;
}

.btn-primary {
    border: none;
    padding: 15px 35px;
    font-weight: 700;
    background-color: #2A4DD0;
    color: #fff;
    border-radius: 8px;
}

/* hero container styles */

.hero-container {
    max-width: 1392px;
    margin: 0 auto;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.hero-container-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-container-content .emoji {
    font-weight: 700;
    color: #111729;
}

.hero-container-content h1 {
    font-weight: 700;
    color: #223344;
    font-size: 3.5em;
}

.hero-container-content .hero-description {
    color: #909193;
}

.hero-buttons .underline {
    font-weight: 700;
    color: #2A4DD0;
    text-decoration-thickness: 2px;
    font-size: 14px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.container-bottom {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container-bottom span {
    color: #909193;
}

.bottom-left, .bottom-right {
    display: flex;
}

.hero-container-img {
    width: 50%;
}

.hero-container-img img {
    width: 100%;
}

/* mobile devices */

@media screen and (max-width: 576px) {
    .navbar {
        padding: 10px 10px;
    }
    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    ul > li > a {
        font-size: 14px;
    }
    .brand img {
        width: 70%;
    }
    .hero-container {
        width: 100%;
        height: auto;
        flex-direction: column-reverse;
        padding: 0px 25px;
    }
    .hero-container-content, .hero-container-img {
        width: 100%;
    }
    .btn-primary {
        padding: 10px 10px;
    }
    .hero-container-content .emoji, .hero-description {
        font-size: 14px;
    }
    .hero-container-content h1 {
        font-size: 2.9rem;
    }
    .container-bottom span {
        font-size: 10px;
    }

}

/* table device */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar {
        padding: 15px 15px;
    }
    ul {
        gap: 10px;
    }
    ul > li > a {
        font-size: 14px;
    }
    .brand img {
        width: 80%;
    }
    .btn-primary {
        padding: 12px 33px;
    }
    .hero-container {
        width: 100%;
        height: auto;
        flex-direction: column-reverse;
        padding: 0px 15px;
    }
    .hero-container-content {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .hero-container-content, .hero-container-img {
        width: 100%;
    }
}